#################
## Misc
#################

coverage
node_modules
src/*.{js,d.ts,metadata.json}
*.log
config
*.spec.{ts,.d.ts,.js}
.github
coverage
!*.d.ts
!*.metadata.json
.*
.*.yml

tslint.json
tsconfig.json
make.js
karma.conf.js

Thumbs.db
Desktop.ini
.DS_Store
